#include "dt-bindings/interrupt-controller/irq.h"

/ {
	fragment@0 {
		target = <&RPI_DSI_NODE>;
		__overlay__ {
			status = "okay";
			#address-cells = <1>;
			#size-cells = <0>;

			ports {
				port@0 {
					reg = <0>;

					dsi_out: endpoint {
						remote-endpoint = <&panel_in>;
					};
				};
			};

			panel@0 {
				compatible = "pumpkin,7inch-touchscreen-panel-dsi";
				reg = <0>;
				pumpkin,touchscreen = <&touchscreen>;

				port {
					panel_in: endpoint {
						remote-endpoint = <&dsi_out>;
					};
				};
			};
		};
	};

	fragment@1 {
		target = <&RPI_I2C_NODE>;
		__overlay__ {
			status = "okay";

			touchscreen: touchscreen@0 {
				compatible = "pumpkin,7inch-touchscreen-panel";
				reg = <0x45>;
				status = "okay";
				pinctrl-0 = <&panel_pins>;
				pinctrl-names = "default";
				power-supply = <&RPI_PANEL_POWER_SUPPLY>;
			};

#if !defined(RPI_DISABLE_TS)
			touch: ft5x06@38 {
				compatible = "focaltech,ft6236";
				reg = <0x38>;
				status = "okay";
				pinctrl-0 = <&ts_pins>;
				pinctrl-names = "default";
				interrupt-parent = <&pio>;
				interrupts = <RPI_TS_INTERRUPT IRQ_TYPE_EDGE_FALLING>;
				touchscreen-size-y = <480>;
				touchscreen-size-x = <800>;
				touchscreen-inverted-y = <1>;
				touchscreen-inverted-x = <1>;
			};
#endif
		};
	};

	fragment@2 {
		target = <&RPI_MIPI_TX_NODE>;
		__overlay__ {
			status = "okay";
		};
	};
};

