// SPDX-License-Identifier: GPL-2.0
/*
 * Copyright (c) 2023 MediaTek Inc.
 *
 */

#include <dt-bindings/clock/mediatek,mt8188-clk.h>
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/pinctrl/mediatek,mt8188-pinfunc.h>

/dts-v1/;
/plugin/;

#include "isp71.dtsi"

/ {
	fragment@4 {
		target-path = "/";
		__overlay__ {
			cam0_pdn: cam0-pdn-regulator {
				compatible = "regulator-fixed";
				regulator-name = "cam0_pdn";
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				gpio = <&pio 18 0>;
				startup-delay-us = <18000>;
				enable-active-high;
			};

			cam0_dvdd_en: cam0-dvdd-en-regulator {
				compatible = "regulator-fixed";
				regulator-name = "cam0_dvdd_en";
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				gpio = <&pio 79 0>;
				startup-delay-us = <18000>;
				enable-active-high;
				regulator-always-on;
				pinctrl-names = "default";
				pinctrl-0 = <&cam0_dvdd_en_pins>;
			};

			cam0_avdd_en: cam0-avdd-en-regulator {
				compatible = "regulator-fixed";
				regulator-name = "cam0_avdd_en";
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				gpio = <&pio 80 0>;
				startup-delay-us = <18000>;
				enable-active-high;
				regulator-always-on;
				pinctrl-names = "default";
				pinctrl-0 = <&cam0_avdd_en_pins>;
			};

			cam1_avdd_en: cam1-avdd-en-regulator {
				compatible = "regulator-fixed";
				regulator-name = "cam1_avdd_en";
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				gpio = <&pio 81 0>;
				startup-delay-us = <18000>;
				enable-active-high;
				regulator-always-on;
				pinctrl-names = "default";
				pinctrl-0 = <&cam1_avdd_en_pins>;
			};

			cam1_dvdd_en: cam1-dvdd-en-regulator {
				compatible = "regulator-fixed";
				regulator-name = "cam1_dvdd_en";
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				gpio = <&pio 82 0>;
				startup-delay-us = <18000>;
				enable-active-high;
				regulator-always-on;
				pinctrl-names = "default";
				pinctrl-0 = <&cam1_dvdd_en_pins>;
			};

			cam_vcam_3v3_en: cam-vcam-3v3-en-regulator {
				compatible = "regulator-fixed";
				regulator-name = "cam_vcam_3v3_en";
				regulator-min-microvolt = <3300000>;
				regulator-max-microvolt = <3300000>;
				gpio = <&pio 91 GPIO_ACTIVE_HIGH>;
				enable-active-high;
				regulator-always-on;
				pinctrl-names = "default";
				pinctrl-0 = <&cam_vcam_3v3_en_pins>;
			};
		};
	};

	fragment@5 {
		target = <&spi2>;
		__overlay__ {
			status = "disabled";
		};
	};

	fragment@6 {
		target = <&pio>;
		__overlay__ {
			cam0_pins_default: cam0_pins_default {
				pins_cmd_dat {
					pinmux = <PINMUX_GPIO19__FUNC_B_GPIO19>,
						 <PINMUX_GPIO18__FUNC_B_GPIO18>,
						 <PINMUX_GPIO22__FUNC_O_CMMCLK0>;
					drive-strength = <MTK_DRIVE_8mA>;
				};
			};

			cam1_pins_default: cam1_pins_default {
				pins_cmd_dat {
					pinmux = <PINMUX_GPIO21__FUNC_B_GPIO21>,
						 <PINMUX_GPIO20__FUNC_B_GPIO20>;
				};
			};

			cam0_dvdd_en_pins: cam0-dvdd-en-pins {
				pins_cmd_dat {
					pinmux = <PINMUX_GPIO79__FUNC_B_GPIO79>;
				};
			};

			cam0_avdd_en_pins: cam0-avdd-en-pins {
				pins_cmd_dat {
					pinmux = <PINMUX_GPIO80__FUNC_B_GPIO80>;
				};
			};

			cam1_avdd_en_pins: cam1-avdd-en-pins {
				pins_cmd_dat {
					pinmux = <PINMUX_GPIO81__FUNC_B_GPIO81>;
				};
			};

			cam1_dvdd_en_pins: cam1-dvdd-en-pins {
				pins_cmd_dat {
					pinmux = <PINMUX_GPIO82__FUNC_B_GPIO82>;
				};
			};

			cam_vcam_3v3_en_pins: cam-vcam-3v3-en-pins {
				pins_cmd_dat {
					pinmux = <PINMUX_GPIO91__FUNC_B_GPIO91>;
				};
			};
		};
	};

	fragment@7 {
		target = <&i2c5>;
		__overlay__ {
			clock-frequency = <400000>;

			ap1302@3c {
				compatible = "onnn,ap1302";

				reg = <0x3c>;
				status = "okay";

				pinctrl-names = "default";
				pinctrl-0 = <&cam0_pins_default>;

				clocks = <&topckgen CLK_TOP_CAMTG>;
				assigned-clocks = <&topckgen CLK_TOP_CAMTG>;
				assigned-clock-parents = <&topckgen CLK_TOP_UNIVPLL_192M_D4>;

				reset-gpios = <&pio 19 GPIO_ACTIVE_LOW>;

				power-supply = <&cam0_pdn>;

				orientation = <0>;
				rotation = <0>;

				sensors {
					#address-cells = <1>;
					#size-cells = <0>;

					onnn,model = "onnn,ar0830";

					sensor@0 {
						reg = <0>;
					};
				};

				port {
					sensor0_out: endpoint {
						remote-endpoint = <&seninf_csi_port_0_in>;
						data-lanes = <1 2 3 4>;
						link-frequencies = /bits/ 64 <480000000>;
					};
				};
			};
		};
	};

	fragment@8 {
		target = <&i2c3>;
		__overlay__ {
			clock-frequency = <400000>;

			it6510@58 {
				compatible = "ite,it6510";

				reg = <0x58>;
				status = "okay";

				pinctrl-names = "default";
				pinctrl-0 = <&cam1_pins_default>;

				interrupt-parent = <&pio>;
				interrupts = <20 IRQ_TYPE_LEVEL_LOW>;

				dp-lanes = /bits/ 8 <4>;
				dp-bitrate = /bits/ 8 <0x14>;

				port {
					sensor1_out: endpoint {
						remote-endpoint = <&seninf_csi_port_1_in>;
						data-lanes = <1 2 3 4>;
						link-frequencies = /bits/ 64 <480000000>;
					};
				};
			};
		};
	};

	fragment@9 {
		target = <&seninf_top>;
		__overlay__ {
			seninf_csi_port_0: seninf_csi_port_0 {
				compatible = "mediatek,seninf";
				csi-port = "0";
				hs_trail_parameter = <0x08>;

				port {
					seninf_csi_port_0_in: endpoint {
						remote-endpoint = <&sensor0_out>;
						data-lanes = <1 2 3 4>;
					};
				};
			};

			seninf_csi_port_1: seninf_csi_port_1 {
				compatible = "mediatek,seninf";
				csi-port = "1";
				hs_trail_parameter = <0x0>;

				port {
					seninf_csi_port_1_in: endpoint {
						remote-endpoint = <&sensor1_out>;
						data-lanes = <1 2 3 4>;
					};
				};
			};
		};
	};

};
