// SPDX-License-Identifier: GPL-2.0
/*
 * Copyright (c) 2020 BayLibre, SAS.
 * Author: Fabien Parent <fparent@baylibre.com>
 */

#include "mt8183-pinfunc.h"
#include <dt-bindings/input/input.h>
#include <dt-bindings/clock/mt8183-clk.h>
#include <dt-bindings/gpio/gpio.h>

/dts-v1/;
/plugin/;

/ {
	fragment@0 {
		target = <&pio>;
		__overlay__ {
			cam0_pins_default: cam0_pins_default {
				pins_clk_rst {
					pinmux = <PINMUX_GPIO99__FUNC_CMMCLK0>,
						 <PINMUX_GPIO157__FUNC_GPIO157>;
				};
			};

			cam1_pins_default: cam1_pins_default {
				pins_clk_rst {
					pinmux = <PINMUX_GPIO100__FUNC_CMMCLK1>,
						 <PINMUX_GPIO102__FUNC_GPIO102>;
				};
			};
		};
	};

	fragment@1 {
		target = <&mt6358regulator>;
		__overlay__ {
			mt6358_vldo28_reg: ldo_vldo28 {
				regulator-min-microvolt = <2800000>;
				regulator-max-microvolt = <2800000>;
			};

			mt6358_vcama1_reg: ldo_vcama1 {
				regulator-min-microvolt = <2800000>;
				regulator-max-microvolt = <2800000>;
			};

			mt6358_vcama2_reg: ldo_vcama2 {
				regulator-min-microvolt = <2800000>;
				regulator-max-microvolt = <2800000>;
			};

			mt6358_vcamio_reg: ldo_vcamio {
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
			};
		};
	};

	fragment@2 {
		target = <&i2c2>;
		__overlay__ {
			sensor@10 {
				compatible = "onnn,ar0330";
				reg = <0x10>;

				pinctrl-names = "default";
				pinctrl-0 = <&cam0_pins_default>;

				clocks = <&topckgen CLK_TOP_MUX_CAMTG>;
				clock-frequency = <24000000>;

				reset-gpios = <&pio 157 GPIO_ACTIVE_LOW>;

				vddpll-supply = <&mt6358_vldo28_reg>;
				vaa-supply = <&mt6358_vcama1_reg>;
				vddio-supply = <&mt6358_vcamio_reg>;

				port@0 {
					ar0330_endpoint: endpoint {
						remote-endpoint = <&mipi_ar0330>;
						bus-type = <4>;
						clock-lanes = <0>;
						data-lanes = <1 2>;
					};
				};
			};
		};
	};

	fragment@3 {
		target = <&i2c4>;
		__overlay__ {
			sensor@10 {
				compatible = "onnn,ar0330";
				reg = <0x10>;

				pinctrl-names = "default";
				pinctrl-0 = <&cam1_pins_default>;

				clocks = <&topckgen CLK_TOP_MUX_CAMTG2>;
				clock-frequency = <24000000>;

				reset-gpios = <&pio 102 GPIO_ACTIVE_LOW>;

				vddpll-supply = <&mt6358_vldo28_reg>;
				vaa-supply = <&mt6358_vcama2_reg>;
				vddio-supply = <&mt6358_vcamio_reg>;

				port@0 {
				};
			};
		};
	};

	fragment@4 {
		target = <&seninf>;
		__overlay__ {
			ports {
				port@0 {
					mipi_ar0330: endpoint {
						clock-lanes = <1>;
						data-lanes = <0 2>;
						remote-endpoint = <&ar0330_endpoint>;
					};
				};
			};
		};
	};
};
