/dts-v1/;
/plugin/;

#include <dt-bindings/pinctrl/mt8365-pinfunc.h>
#include "dt-bindings/interrupt-controller/irq.h"
#include <dt-bindings/gpio/gpio.h>

/ {
	fragment@0 {
		target = <&dsi0>;
		__overlay__ {
			status = "okay";
			#address-cells = <1>;
			#size-cells = <0>;

			panel: panel@0 {
				compatible = "urt,umo-9465md-t";
				reg = <0>;
				pinctrl-names = "default";
				pinctrl-0 = <&panel_pins_default>;
				backlight = <&backlight_lcd0>;
				reset-gpios = <&pio 20 0>;
				pwr-gpios = <&tca6416 4 0>;
				pwr2-gpios = <&tca6416 5 0>;
				status = "okay";

				port {
					panel_in: endpoint {
						remote-endpoint = <&dsi_out>;
					};
				};
			};

			ports {
				port {
					dsi_out: endpoint {
						remote-endpoint = <&panel_in>;
					};
				};
			};
		};
	};

	fragment@1 {
		target = <&mipi_tx0>;
		__overlay__ {
			status = "okay";
		};
	};

	fragment@2 {
		target-path = "/";
		__overlay__ {
			backlight_lcd0: backlight_lcd0 {
				compatible = "pwm-backlight";
				pwms = <&disp_pwm 0 20000>;
				power-supply = <&bl_pp5000>;
				brightness-levels = <0 1023>;
				num-interpolated-steps = <1023>;
				default-brightness-level = <576>;
				status = "okay";
			};

			bl_pp5000: regulator@1 {
				compatible = "regulator-fixed";
				regulator-name = "bl_pp5000";
				regulator-min-microvolt = <5000000>;
				regulator-max-microvolt = <5000000>;
				regulator-always-on;
				regulator-boot-on;
			};
		};
	};

	fragment@3 {
		target = <&i2c3>;
		__overlay__ {
			#address-cells = <1>;
			#size-cells = <0>;
			clock-frequency = <400000>;

			touchscreen@26 {
				compatible = "ilitek,ili2117";
				reg = <0x26>;
				pinctrl-names = "default";
				pinctrl-0 = <&ctp_pins_default>;
				wakeup-source;
				interrupt-parent = <&pio>;
				interrupts = <116 IRQ_TYPE_EDGE_FALLING>;
				reset-gpios = <&pio 115 GPIO_ACTIVE_LOW>;
			};
		};
	};

	fragment@4 {
		target = <&disp_pwm>;
		__overlay__ {
			status = "okay";
			pinctrl-names = "default";
			pinctrl-0 = <&pwm0_pin_default>;
		};
	};

	fragment@5 {
		target = <&pio>;
		__overlay__ {
			panel_pins_default: panel_pins_default {
				panel_reset {
					pinmux = <MT8365_PIN_20_LCM_RST__FUNC_GPIO20>;
					output-low;
					bias-pull-up;
				};
			};

			ctp_pins_default: ctp_pins_default {
				pins_eint_ctp {
					pinmux = <MT8365_PIN_116_I2S_BCK__FUNC_GPIO116>;
					input-enable;
					bias-disable;
				};

				pins_rst_ctp {
					pinmux = <MT8365_PIN_115_I2S_LRCK__FUNC_GPIO115>;
					output-low;
				};
			};

			pwm0_pin_default: pwm0_pin_default {
				disp_pwm {
					pinmux = <MT8365_PIN_19_DISP_PWM__FUNC_DISP_PWM>;
				};
			};
		};
	};
};

