// SPDX-License-Identifier: GPL-2.0
/*
 * Copyright (c) 2024 MediaTek Inc.
 *
 */

#include <dt-bindings/clock/mt8195-clk.h>
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/pinctrl/mt8195-pinfunc.h>

/dts-v1/;
/plugin/;

#include "isp70.dtsi"

/ {
	fragment@4 {
		target-path = "/";
		__overlay__ {
			/* This dummy regulator is used for max9286 driver to probe */
			cam_vcam_poc_requlator: cam-vcam-poc-regulator {
				compatible = "regulator-fixed";
				regulator-name = "cam_vcam_poc_requlator";
				regulator-min-microvolt = <12000000>;
				regulator-max-microvolt = <12000000>;
				regulator-always-on;
			};
		};
	};

	fragment@5 {
		target = <&i2c0>;
		__overlay__ {
			clock-frequency = <400000>;
			gmsl-deserializer@2c {
				compatible = "maxim,max9286";
				reg = <0x48>;
				poc-supply = <&cam_vcam_poc_requlator>;
				enable-gpios = <&pio 54 GPIO_ACTIVE_HIGH>;

				gpio-controller;
				#gpio-cells = <2>;

				maxim,reverse-channel-microvolt = <200000>;

				ports {
					#address-cells = <1>;
					#size-cells = <0>;

					port@0 {
						reg = <0>;

						max9286_in0: endpoint {
							remote-endpoint = <&rdacm21_out0>;
						};
					};

					port@1 {
						reg = <1>;

						max9286_in1: endpoint {
							remote-endpoint = <&rdacm21_out1>;
						};
					};

					port@2 {
						reg = <2>;

						max9286_in2: endpoint {
							remote-endpoint = <&rdacm21_out2>;
						};
					};

					port@3 {
						reg = <3>;

						max9286_in3: endpoint {
							remote-endpoint = <&rdacm21_out3>;
						};
					};

					port@4 {
						reg = <4>;

						max9286_out: endpoint {
							data-lanes = <1 2 3 4>;
							remote-endpoint = <&seninf_csi_port_0_in>;
						};
					};
				};

				i2c-mux {
					#address-cells = <1>;
					#size-cells = <0>;

					i2c@0 {
						#address-cells = <1>;
						#size-cells = <0>;
						reg = <0>;

						camera@51 {
							compatible = "abeo,ag190c";
							reg = <0x51>, <0x61>;

							port {
								rdacm21_out0: endpoint {
									remote-endpoint = <&max9286_in0>;
								};
							};

						};
					};

					i2c@1 {
						#address-cells = <1>;
						#size-cells = <0>;
						reg = <1>;

						camera@52 {
							compatible = "abeo,ag190c";
							reg = <0x52>, <0x62>;

							port {
								rdacm21_out1: endpoint {
									remote-endpoint = <&max9286_in1>;
								};
							};
						};
					};

					i2c@2 {
						#address-cells = <1>;
						#size-cells = <0>;
						reg = <2>;

						camera@53 {
							compatible = "abeo,ag190c";
							reg = <0x53>, <0x63>;

							port {
								rdacm21_out2: endpoint {
									remote-endpoint = <&max9286_in2>;
								};
							};
						};
					};

					i2c@3 {
						#address-cells = <1>;
						#size-cells = <0>;
						reg = <3>;

						camera@54 {
							compatible = "abeo,ag190c";
							reg = <0x54>, <0x64>;

							port {
								rdacm21_out3: endpoint {
									remote-endpoint = <&max9286_in3>;
								};
							};
						};
					};
				};
			};
		};
	};

	fragment@6 {
		target = <&seninf_top>;
		__overlay__ {
			seninf_csi_port_0: seninf_csi_port_0 {
				compatible = "mediatek,seninf";
				csi-port = "0";
				settle_delay_ck = <0x00>;
				dphy_settle_delay_dt = <0x10>;
				hs_trail_parameter = <0x08>;

				port {
					seninf_csi_port_0_in: endpoint {
						remote-endpoint = <&max9286_out>;
						data-lanes = <1 2 3 4>;
					};
				};
			};
		};
	};

	fragment@7 {
		target = <&imgsys_fw>;
		__overlay__ {
			status = "disabled";
		};
	};

	fragment@8 {
		target = <&hcp>;
		__overlay__ {
			status = "disabled";
		};
	};

	fragment@9 {
		target-path = "/soc/imgsys_larb";
		__overlay__ {
			status = "disabled";
		};
	};

	fragment@10 {
		target = <&ipesys_me>;
		__overlay__ {
			status = "disabled";
		};
	};
};
