[Unit]
Description=Load MT7663 modules

[Service]
ExecStart=/etc/init.d/mt7663.sh
User=root

[Install]
WantedBy=bluetooth.service
WantedBy=systemd-networkd.service
