#include "mt8167-pinfunc.h"
#include "dt-bindings/interrupt-controller/irq.h"

/dts-v1/;
/plugin/;

/ {
	fragment@0 {
		target = <&dsi>;
		__overlay__ {
			status = "okay";
			#address-cells = <1>;
			#size-cells = <0>;

			ports {
				port@0 {
					reg = <0>;

					dsi_out: endpoint {
						remote-endpoint = <&panel_in>;
					};
				};
			};

			panel@0 {
				compatible = "pumpkin,7inch-touchscreen-panel-dsi";
				reg = <0>;
				pumpkin,touchscreen = <&touchscreen>;

				port {
					panel_in: endpoint {
						remote-endpoint = <&dsi_out>;
					};
				};
			};
		};
	};

	fragment@1 {
		target = <&i2c2>;
		__overlay__ {
			clock-div = <2>;
			clock-frequency = <400000>;
			pinctrl-names = "default";
			pinctrl-0 = <&i2c2_pins_a>;
			status = "okay";

			touchscreen: touchscreen@0 {
				compatible = "pumpkin,7inch-touchscreen-panel";
				reg = <0x45>;
				status = "okay";
				pinctrl-0 = <&panel_pins>;
				pinctrl-names = "default";
				power-supply = <&mt6392_vgp2_reg>;
			};

			touch: ft5x06@38 {
				compatible = "focaltech,ft6236";
				reg = <0x38>;
				status = "okay";
				pinctrl-0 = <&ts_pins>;
				pinctrl-names = "default";
				interrupt-parent = <&pio>;
				interrupts = <2 IRQ_TYPE_EDGE_FALLING>;
				touchscreen-size-y = <480>;
				touchscreen-size-x = <800>;
				touchscreen-inverted-y = <1>;
				touchscreen-inverted-x = <1>;
			};
		};
	};

	fragment@2 {
		target = <&mipi_tx>;
		__overlay__ {
			status = "okay";
		};
	};

	fragment@3 {
		target = <&pio>;
		__overlay__ {
			i2c2_pins_a: i2c2@0 {
				pins1 {
					pinmux = <MT8167_PIN_60_SDA2__FUNC_SDA2_0>,
						 <MT8167_PIN_61_SCL2__FUNC_SCL2_0>;
					bias-disable;
				};
			};

			panel_pins: panel_pins {
				pins {
					pinmux = <MT8167_PIN_66_LCM_RST__FUNC_GPIO66>,
						 <MT8167_PIN_67_DSI_TE__FUNC_GPIO67>;
					output-high;
				};
			};
			ts_pins: ts_pins {
				pins {
					pinmux = <MT8167_PIN_2_EINT2__FUNC_GPIO2>;
					input-enable;
					bias-pull-up;
				};
			};
		};
	};
};
